.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: var(--space-8);
  padding-block: var(--space-12);
}

.card {
  background-color: var(--color-bg);
  border: var(--border-width) solid var(--color-header-border);
  border-radius: var(--radius-md);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.card__img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  inline-size: 100%;
}


.card__body {
  padding: var(--space-6);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  height: 100%;
}

.card__body .btn {
  margin-top: auto;
}

.card__title {
  font-size: var(--text-md);
  font-weight: var(--font-bold);
  line-height: var(--leading-tight);
}

.card__text {
  font-size: var(--text-base);
  line-height: var(--leading-normal);
}

.card__meta {
  font-size: var(--text-sm);
}

